{{#each this}}
  <li  class='hero-list__item'>
    <img id={{id}} src='https://image.tmdb.org/t/p/w500/{{poster_path}}' alt={{title}} class='hero-list__img' />
    <h3 class='hero-list__title'>{{title}}</h3>
    <p class='hero-list__desc'>
      {{genres}} | {{release_date}}
    </p>
  </li>
{{/each}}