{{#each this}}
  <li  class='hero-list__item '>
    <img id={{id}} src="{{poster}}" alt="{{title}}" data-genres="{{genres}}" data-year="{{release_date}}" class='hero-list__img' />
    <h3 class='hero-list__title line-clamp'>{{title}}</h3>
    <p class='hero-list__desc'>
      {{genres}}
      |
      {{release_date}}   
      {{#if localRating}}
          <span class="library__rating">{{localRating}}</span>
      {{/if}}
    </p>

  </li>
{{/each}}